<div class="home-page">
  <div class="sidebar">
    <div class="logo">
      <img src="../../../../assets/icons/burger.png">
      <span class="logo__text">cid</span>
    </div>
    <div class="message-panel">
      <div class="message-panel__body">
        <span class="message-panel__head-text">
          Микита Кабінович
        </span>
        <span class="message-panel__body-text">
          00001, E-0001 CR Степана Бандери 23-В
        </span>
      </div>
      <div class="message-panel__footer">
        <img src="../../../../assets/icons/settings.png">
        <img src="../../../../assets/icons/message.png">
        <img src="../../../../assets/icons/exit.png">
      </div>
    </div>
    <div class="menu-items">
      <div class="item">
        <img src="../../../../assets/icons/proccess.png">
        <span>Активні процеси</span>
      </div>
      <div class="item">
        <img src="../../../../assets/icons/calculator.png">
        <span>Калькулятор</span>
      </div>
      <div class="item">
        <img src="../../../../assets/icons/testing.png">
        <span>Тестування системи</span>
      </div>
      <div class="item">
        <img src="../../../../assets/icons/archive.png">
        <span>Робота з архівом</span>
      </div>
      <div class="item">
        <img src="../../../../assets/icons/cancel.png">
        <span>Відмова від товару</span>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content__head">
      <span>Фотографування документів</span>
    </div>
    <div class="content__body">
      <app-cyclic-slider>
        <div class="home-page__slide" *appSlideItem>

          <div class="document" *ngFor="let doc of documents">
            <div class="document__caption">
              {{doc.caption}}
            </div>
            <div class="document__files">
              <div class="document__file" *ngFor="let file of doc.files" (click)="openDialog(doc.name, file.name)"
              [class.document__file_valid]="file.statusUpload">
                {{file.name}}
              </div>
            </div>
          </div>

        </div>
        <div *appSlideItem [style.background]="'green'">2</div>
        <div *appSlideItem [style.background]="'blue'">3</div>
        <div *appSlideItem [style.background]="'yellow'">4</div>
        <div *appSlideItem [style.background]="'grey'">5</div>
        <div *appSlideItem [style.background]="'brown'">6</div>
      </app-cyclic-slider>
    </div>
  </div>
  <ng-container appDialogHost (ok)="dialogOk()" (close)="dialogClose()"></ng-container>
</div>