<div class="sections">
  <app-cyclic-slider></app-cyclic-slider>
  <!-- <div #sliders [class.slide-animation]="activateAnimation" [style.transform]="'translateY(' + startSlidePosTransformVH + 'vh)'">
    <app-section *ngFor="let section of sections; let i = index" [title]="section.title"
      [background]="section.background">
    </app-section>
  </div>
  <button (click)="next()" style="position: absolute; top: 0; right: 0;">next</button>
  <button (click)="prew()" style="position: absolute; top: 30px; right: 0;">del</button>
  <button (click)="scrollToSection(2)" style="position: absolute; top: 60px; right: 0;">scroll</button> -->
</div>