:host {
  height: 100%;
}

.slider {
  height: 100%;
  overflow: hidden;
  min-height: 100px;
  border: solid 2px;
}

.slider__slide {
  height: 100%;
  
  box-sizing: border-box;
}

.slide-animation {
  transition-property: transform;
  transition-duration: 0.7s;
  transition-timing-function: ease-in;
}
