<div class="slider" [style.height]="height > 100 ? height + 'px' : '100%'">

  <div class="slider__slide" #slider [class.slide-animation]="activateAnimation"
    [style.transform]="'translateY(' + startSlidePosTransform + 'px)'">
    <div class="slider__slide-section" *ngFor="let item of sections;" [style.height]="height > 100 ? height + 'px' : '100%'">
      <ng-container [ngTemplateOutlet]="item.tpl">
      </ng-container>
    </div>
  </div>
</div>
<button (click)="scrollToSection(2)" style="position: absolute; top: 60px; right: 0;">scroll</button>
<button (click)="next()" style="position: absolute; top: 0; right: 0;">next</button>
<button (click)="prew()" style="position: absolute; top: 30px; right: 0;">del</button>